<!DOCTYPE html>

<html>

  <%- include( uxproject + 'layout/head' ) %>

<body class="template-basic">

  <%- include( uxproject + 'layout/header' ) %>

  <div class="spacer min-sm-marg-top-2"></div>

  <%- include( uxproject + page ) %>

  <%- include( uxproject + 'layout/footer' ) %>

  <%- include( uxcore + 'layout/scripts' ) %>

</body>

</html>
