<!DOCTYPE html>

<html>

<%- include( uxcore + 'layout/head' ) %>

<body class="template-horizontal">

  <%- include( uxproject + 'layout/header' ) %>

  <%- include( uxcomponents + 'navbar/navbar-horizontal' ) %>

  <%- include( uxproject + page ) %>

  <%- include( uxproject + 'layout/footer' ) %>

  <%- include( uxcore + 'layout/scripts' ) %>

</body>

</html>
